#whole{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	line-height: 50px;
}

.container{
	border-radius: 5px;
	/*text-align: center;*/
	height: 400px;
	position:absolute;
	width:100%;
}

.submit{
	background-color: #DF691E;
	border: none;
	padding:10px 15px 10px 15px;
	color:#fff;
}

.submit:hover{
	background-color: #B4B4B4;
}

#login_part{
	left: 100%;
	display: none;
}

#register_part{
	left: 100%;
	display: none;
}
/*
label{
	display:block;
}

input[type="text"]{
	width: 180px;
	height: 25px;
}

input[type="password"]{
	width: 180px;
	height: 25px;
}
*/
